.newsHover:hover{
  opacity:.4;
}
.hoverOrange:hover{
  opacity:.7;
  color:orange;
}
.blockNameHover:hover{
  text-decoration:underline;
}
.newsText{
  display:flex;
  align-items: flex-end;
  padding:10px;
}
.text_sizeXS{
  font-size: 10px;
}
.newsText_sizeS{
  font-size:12pt;
}
.newsText_sizeM{
  font-size:14pt;
}
.newsText_sizeL{
  font-size:20pt;
}

.blockName{
  border-bottom: 1px solid #d5d5d5;
  text-transform: uppercase;
  color: #eba161;
  font-size: 24px;
  padding-bottom:10px;
}
.wrapper{
  display:grid;
  grid-column-gap:40px;
  grid-row-gap:30px;
  grid-template-columns:340px 340px;
}
.wrapper__img{
  width:340px;
  height:220px;
}
.wrapper__text{
  font-size:14pt;
  text-align:justify;
  font-weight:bolder;
}
.wrapper__head{
  grid-column-start:1;
  grid-column-end:3;
}

.wrapper_gapl{
  margin-left:20px;
}

.textclr_White{
  color:white;
}

.imgInvert{
  filter:invert(1);
}
.pointer{
  cursor:pointer;
}